{% extends 'secondlayout.html' %}
{% block content %}

<section class="content-header mt-3 mx-5">
    {% for message in get_flashed_messages()%}
<div class="alert alert-info alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    {{ message }}
</div>
    {% endfor%}
</section>
    
<section class="my-5 bg-light">
    <div class="mx-5">
        <div class="text-justify my-5">
            <div class="row">
                <div class="col-6">
                    <h4 class="my-auto"><b>Data Rekap Per Bulan</b></h4>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <div class="container bg-success p-4 rounded">
                        <h4 class="text-light my-auto"><b>Jumlah Booking Selesai : {{ total_people }}</b></h4>
                    </div>
                </div>
                <div class="col-6">
                    <div class="container bg-info p-4 rounded">
                        <h4 class="text-light my-auto"><b>Total Pendapatan : Rp {{ total_revenue|format }}</b></h4>
                    </div>
                </div>
            </div>
        </div>
        
        <h2 class="text-center text-success pb-4"><b>Booking / Transaction List</b></h2>

        <form action="bookinglist" method="post" class="mb-1">
            <div class="row">
                <div class="col">
                    <label for="start_date">Tanggal Awal:</label>
                    <input type="date" class="form-control" name="start_date" value="{{ start_date }}">
                </div>
                <div class="col">
                    <label for="end_date">Tanggal Akhir:</label>
                    <input type="date" class="form-control" name="end_date" value="{{ end_date }}">
                </div>
                <div class="col my-auto">
                    <button type="submit" class="btn btn-primary mt-4">Filter</button>
                </div>
            </div>
        </form>

        <form action="/generate_pdf" method="post" class="mb-4">
            <div class="row">
                <div class="col my-auto">
                    <input type="hidden" name="start_date" value="{{ start_date }}">
                    <input type="hidden" name="end_date" value="{{ end_date }}">
                    <button type="submit" class="btn btn-success mt-4">Generate PDF</button>
                </div>
            </div>
        </form>

        <table class="table table-bordered">
            <thead class="text-center">
                <th>No.</th>
                <th>ID Booking</th>
                <th>ID Mobil</th>
                <th>Username</th>
                <th>Tanggal Pinjam</th>
                <th>Lama Pinjam</th>
                <th>Estimasi Kembali</th>
                <th>Tanggal Kembali</th>
                <th width="120px">Harga per hari</th>
                <th width="120px">Denda</th>
                <th width="120px">Total Biaya</th>
                <th>Status Booking</th>
            </thead>
            {% if data %}
                {% for bookinglist in data %}
                <tr class="text-center">
                    <td>{{ loop.index }}</td>
                    <td>{{ bookinglist[0] }}</td>
                    <td>{{ bookinglist[1] }}</td>
                    <td>{{ bookinglist[2] }}</td>
                    <td>{{ bookinglist[3] }}</td>
                    <td>{{ bookinglist[4] }} hari</td>
                    <td>{{ bookinglist[5] }}</td>
                    <td>{{ bookinglist[6] }}</td>
                    <td>Rp {{ bookinglist[7]|format }}</td>
                    <td>Rp {{ bookinglist[8]|format }}</td>
                    <td>Rp {{ bookinglist[9]|format }}</td>
                    <td>{{ bookinglist[10] }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="12" class="text-center text-danger"><b>Anda belum memiliki transaksi / booking.</b></td>
                </tr>
            {% endif %}
        </table>
    </div>
</section>

{% endblock %}